<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="header-wrap">
        <div id="header" class="container_16">
            <h1 id="logo-text">
                <a href="index.html" title="">WEB NEWS</a>
            </h1>
            <p id="intro">The best curated news</p>
            <div id="nav">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="article1.html">Article</a>
                    </li>
                </ul>
            </div>
            <div id="header-image"></div>
            <form id="quick-search" action="index.html" method="get">
                <p>
                    <label for="qsearch">Search:</label>
                    <input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="Search" title="Start typing and hit ENTER">
                    <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="images/search.gif">
                </p>
            </form>
        </div>
    </div>
    <main>
        <h1>US pulls troops in north Syria, threatens Turkey sanctions</h1>
        <div class="article-image"><img src="images/fiona.jpeg" alt="fiona"></div>
        <div class="Article" data-key="article">
            <p class="article-text">WASHINGTON (AP) — The United States appears to be heading toward a full military withdrawal from Syria amid growing chaos,
                <!-- -->cries of betrayal and threats Monday by President Donald Trump to hit Turkey with “big sanctions.”</p>
            <p class="article-text">Defense Secretary Mark Esper said Sunday that Trump had directed U.S. troops in northern Syria to begin pulling out
                <!-- -->“as safely and quickly as possible.” He did not say Trump ordered troops to leave Syria, but that seemed like the next step in a combat zone growing more unstable by the hour.</p>
            <p class="article-text">Trump defended his gamble that pulling U.S. forces out of Syria would not weaken U.S. security and credibility. He wrote on Twitter Monday that the Islamic State prisoners who have escaped amid the pandemonium in Syria can be “easily recaptured”
                by Turkey or European nations, even as France said it was pulling its remaining troops out of Syria.</p>
            <p class="article-text">“Big sanctions on Turkey coming!” Trump wrote, and his treasury secretary, Steven Mnuchin, said that while no final decision on sanctions had been made, the president’s national security team was meeting again to consider a way ahead.</p>
            <p class="article-text">Esper, interviewed on two TV news shows, said the administration was considering its options.</p>

            <p class="article-text">“We have American forces likely caught between two opposing advancing armies and it’s a very untenable situation,” Esper said.</p>
            <p class="article-text">This seemed likely to herald the end of a five-year effort to partner with Syrian Kurdish and Arab fighters to ensure a lasting defeat of the Islamic State group. Hundreds of IS supporters escaped a holding camp amid clashes between invading
                Turkish-led forces
                <!-- -->and Kurdish fighters, and analysts said an IS resurgence
                <!-- -->seemed more likely, just months after Trump declared the extremists defeated.</p>
            <p class="article-text">Trump got quick support from a main Senate ally, Lindsey Graham of South Carolina, who had lambasted his decision last week as “shortsighted,” ″irresponsible” and “unnerving to its core.” On Monday, echoing Trump, Graham said on Fox News Channel
                that the situation was Turkish leader Recep Tayyip Erdogan’s fault and Turkey would face “crippling sanctions” from the U.S. on its economy.</p>
            <p class="article-text">The U.S. has had about 1,000 troops in northeastern Syria allied with the Kurdish-led Syrian Democratic Forces to combat IS. The Pentagon previously had pulled about 30 of these troops from the Turkish attack zone along the border. With an
                escalation of violence, a widening of the Turkish incursion and the prospect of a deepening conflict, all U.S. forces along the border will now follow that move. It was unclear where they would go.</p>
            <p class="article-text">The Pentagon chief did not say U.S. troops were leaving Syria entirely. The only other U.S. presence in Syria is at Tanf garrison, near Syria’s eastern border with Jordan. The U.S. and coalition troops there are not involved in the Kurd mission,
                and so it seems highly unlikely the 1,000 being moved from the north would go to Tanf.</p>
            <p class="article-text">Critics say the U.S. has betrayed the Kurds by pulling back in the face of Turkey’s invasion, but Esper said the administration was left with little choice once Erdogan told Trump a week ago that he was going ahead with a military offensive.
                Esper said the Kurds have been good partners, “but at the same time, we didn’t sign up to fight the Turks on their behalf.”</p>
            <p class="article-text">The Kurds then turned to the Syrian government and Russia for military assistance, further complicating the battlefield.</p>

            <p class="article-text">The prospect of enhancing the Syrian government’s position on the battlefield and inviting Russia to get more directly involved is seen by Trump’s critics as a major mistake. But he tweeted that it shouldn’t matter.</p>
            <p class="article-text">“Others may want to come in and fight for one side or the other,” he wrote. “Let them!”</p>
            <p class="article-text">Trump tweeted night Sunday: “The U.S. has the worst of the ISIS prisoners. Turkey and the Kurds must not let them escape. Europe should have taken them back after numerous requests. They should do it now. They will never come to, or be allowed
                in, the United States!”</p>
            <p class="article-text">New Jersey Sen. Bob Menendez, the top Democrat on the Senate Foreign Relations Committee, said Trump is weakening America. ’To be clear, this administration’s chaotic and haphazard approach to policy by tweet is endangering the lives of U.S.
                troops and civilians,” Menendez said in a statement. “The only beneficiaries of this action are ISIS, Iran and Russia.”</p>
            <p class="article-text">The fast-moving developments were a further unraveling of U.S. counterterrorism efforts in Syria, and they highlighted an extraordinary breakdown in relations between the United States and Turkey, NATO allies for decades. Turkish troops have
                often fought alongside American troops, including in the Korean War and in Afghanistan.</p>
            <p class="article-text">Asked whether he thought Turkey would deliberately attack American troops in Syria, Esper said, “I don’t know whether they would or wouldn’t.”</p>
            <p class="article-text">He cited an incident on Friday in which a small number of U.S. troops fell under artillery fire at an observation post in the north. Esper called that an example of “indiscriminate fire” coming close to Americans, adding it was unclear whether
                that was an accident.</p>
            <p class="article-text">Esper disputed the notion that the U.S. could have stopped Turkey from invading in the first place. He said Erdogan had made clear he was going to launch his incursion “regardless of what we did.”</p>
            <p class="article-text">Strongly critical of the Turks, Esper said “the arc of their behavior over the past several years has been terrible.” He added: “I mean, they are spinning out of the Western orbit, if you will. We see them purchasing Russian arms, cuddling
                up to President Putin. We see them doing all these things that, frankly, concern us.”</p>
            <p class="article-text">The chairman of the House Foreign Affairs Committee, Rep. Eliot Engel, D-N.Y., said the U.S. and its NATO partners should consider expelling Turkey from the alliance. “How do you have a NATO ally who’s in cahoots with the Russians, when the
                Russians are the adversaries of NATO?”</p>
        </div>
    </main>
    <div id="footer-wrapper" class="container_16">
        <div id="footer-bottom">

            <p class="bottom-left">
                &nbsp; ©2019 All your copyright info here &nbsp; &nbsp;
            </p>

            <p class="bottom-right">
                <a href="index.html">Home</a> |
                <a href="index.html">Blog</a> |
            </p>

        </div>
    </div>
</body>
</footer>

</html>