<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="header-wrap">
        <div id="header" class="container_16">
            <h1 id="logo-text">
                <a href="index.html" title="">WEB NEWS</a>
            </h1>
            <p id="intro">The best curated news</p>
            <div id="nav">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        <li>
                            <a href="article1.html">Article</a>
                        </li>
                </ul>
            </div>
            <div id="header-image"></div>
            <form id="quick-search" action="index.html" method="get">
                <p>
                    <label for="qsearch">Search:</label>
                    <input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="Search" title="Start typing and hit ENTER">
                    <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="images/search.gif">
                </p>
            </form>
        </div>
    </div>
    <main>
        <div class="article">
            <div class="article-head">
                <div class="article-img">
                    <img src="images/fiona.jpeg" alt="fiona">
                </div>
            </div>
            <div class="block2">
                <h3 class="h3_edit">Ambassador expected assurance came from Trump</h3>
                <div class="article-hashtag">#Trump, #Washington</div>
                <div class="article-include">
                    <div class="article-content">
                        <p>WASHINGTON (AP) — A U.S. ambassador is expected to tell Congress that his text message reassuring another envoy that there was no quid pro quo in their interactions with Ukraine was based solely...
                            <a class="link" href="article1.html">read more</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="article">
            <div class="article-head">
                <div class="article-img">
                    <img src="images/typhoon.jpeg" alt="typhoon">
                </div>
            </div>
            <div class="block2">
                <h3 class="h3_edit">Japan looks for missing after typhoon kills dozens</h3>
                <div class="article-hashtag">#Nagano, #Japan</div>
                <div class="article-include">
                    <div class="article-content">
                        <p>NAGANO, Japan (AP) — Rescue crews dug through mudslides and searched near swollen rivers Monday as they looked for those missing from a typhoon that left dozens dead and caused serious damage in...
                            <a class="link" href="article1.html">read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="article">
            <div class="article-head">
                <div class="article-img">
                    <img src="images/football.jpeg" alt="football">
                </div>
            </div>
            <div class="block2">
                <h3 class="h3_edit">AP Top 25 Reality Check: How to use head-to-head results?</h3>
                <div class="article-hashtag">#result, #Georgia</div>
                <div class="article-include">
                    <div class="article-content">
                        <p>Georgia beats Notre Dame in a close game at home. Georgia loses to unranked South Carolina in double overtime at home...
                            <a class="link" href="article1.html">read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div class="block">
        <a href="createarticle.html" class="button29">
            <p class="article-button__plus">+</p>
        </a>
    </div>
    <div id="footer-wrapper" class="container_16">
        <div id="footer-bottom">

            <p class="bottom-left">
                &nbsp; ©2019 AVPZ &nbsp; &nbsp;
            </p>

            <p class="bottom-right">
                <a href="index.html">Home</a> |
                <a href="index.html">Blog</a> |
            </p>
        </div>
    </div>
</body>

</html>