<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
<div id="header-wrap">
    <div id="header" class="container_16">
        <h1 id="logo-text">
            <a href="/" title="">WEB NEWS</a>
        </h1>
        <p id="intro">The best curated news</p>
        <div id="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="article.html">Article</a>
                </li>
            </ul>
        </div>
        <div id="header-image"></div>
        <form id="quick-search" method="post">
            <p>
                <label for="qsearch">Search:</label>
                <input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="Search"
                       title="Start typing and hit ENTER">
                <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search"
                       src="resources/images/search.gif">
            </p>
        </form>
    </div>

</div>
<div class="article-create__head">
    <h1>New article</h1>
</div>
<main class="main_article">
    <form class="registration_form" id="artcreate" method="post" action="/created">
        <!--method="POST"-->
        <div class="field">
            <label class="labeltest">
                <input class="inputest" type="text" name="title" id="title" placeholder="Title" required=""></label>
            <!--<label class="labeltest">-->
            <!--<input class="inputest" type="text" name="hashtag" placeholder="#Hashtag" required="">-->
            <!--</label>-->
            <textarea class="form_textarea" name="text" id="text" cols="70" rows="8"
                      placeholder="Article description"></textarea>

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <div class="example-1">
                <div class="form-group">
                    <!--<label class="label">-->
                    <!--<i class="material-icons">attach_file</i>-->
                    <!--<span class="title">Add a file</span>-->
                    <!--<input type="file">-->
                    <!--</label>-->

                    <input type="submit" value="Add article" class="add_article">

    <div class="article-create__head">
        <h1>New article</h1>
    </div>
    <main class="main_article">
        <form class="registration_form" method="POST">
            <div class="field">
                <label class="labeltest">
                    <input class="inputest" type="text" name="title" placeholder="Title" required=""></label>
                <!--<label class="labeltest">-->
                    <!--<input class="inputest" type="text" name="hashtag" placeholder="#Hashtag" required="">-->
                <!--</label>-->
		<div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> #ХНУРЭ</div>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#ЛЕЩ</div>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#СОКАР</div>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#ПРОГРАМА</div>
                <textarea class="form_textarea" name="text" id="#" cols="70" rows="8" placeholder="Article description"></textarea>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <div class="example-1">
                    <div class="form-group">
                        <label class="label"><i class="material-icons">attach_file</i><span class="title">Add a file</span><input type="file"></label>
                        <input type="submit" value="Add article" class="add_article">
                    </div>
                </div>
            </div>
    </form>
</main>

    <script type="text/javascript">
        $("#artcreate").submit(function (e) {
            e.preventDefault();
            $(this).prop('disabled', true);

            let formData = new FormData();
            formData.append("title", $("#title").val());
            formData.append("text", $("#text").val());

            // Ajax call for file uploaling
            $.ajax({
                url: '/create',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    let formData2 = new FormData();
                    formData2.append("id" , data);
                    formData2.append("upload", $("#upload-file-input")[0].files[0]);
                    $.ajax({
                        url: '/uploadFile',
                        type: 'POST',
                        data: formData2,
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                }
            });
        });

    </script>


    <form id="upload-file-form">
        <label for="upload-file-input">Upload your file:</label>
        <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
        <br />
        <span id="upload-file-message"></span>
    </form>



<div id="footer-wrapper" class="container_16">
    <div id="footer-bottom">
        <p class="bottom-left">
            &nbsp; ©2019 All your copyright info here &nbsp; &nbsp;
        </p>

        <p class="bottom-right">
            <a href="/">Home</a> |
            <a href="/">Blog</a> |
        </p>
    </div>
</div>
</body>
</html>