<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
</head>

<body>
    <div id="header-wrap">
        <div id="header" class="container_16">
            <h1 id="logo-text">
                <a href="/" title="">WEB NEWS</a>
            </h1>
            <p id="intro">The best curated news</p>
            <div id="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                        <li>
                            <a href="article.html">Article</a>
                        </li>
                </ul>
            </div>
            <div id="header-image"></div>
            <form id="quick-search" action="main-menu.html" method="get">
                <p>
                    <label for="qsearch">Search:</label>
                    <input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="Search" title="Start typing and hit ENTER">
                    <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="resources/images/search.gif">
                </p>
            </form>
	    <form id="hash-search" action="main-menu.html" method="get">
               	<p>
                    <label for="qsearch">Hashtag:</label>
                    <input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="Hashtag" title="Start typing and hit ENTER">
                    <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="images/search.gif">
                </p>
            </form>
        </div>
    </div>
    <main>
        <div class="article" th:each="art: ${articles}" >
            <!--th:each="tag : ${artags}"-->
            <div class="article-head">
                <div class="article-img">
                    <img th:src="@{${'/resources/images/' +art.id + '.jpg'}}" alt="img"/>
                </div>
            </div>
            <div class="block2">
                <h3 class="h3_edit" th:text="${art.title}"></h3>


                <!--<div class="article-hashtag" th:text="${art.tags}"></div>-->


                <div class="hashtag_article">
                    <div class="alert1">
                        #tester
                    </div>
                    <div class="alert1">
                        #washington
                    </div>
                </div>

                <div class="article-include">
                    <div class="article-content">
                        <p th:text="${art.text}"></p>
                        <a class="link" th:href="'/' + ${art.id}" style="color:forestgreen">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="block">
        <a href="/create" class="button29">
            <p class="article-button__plus">+</p>
        </a>
    </div>
    <div id="footer-wrapper" class="container_16">
        <div id="footer-bottom">

            <p class="bottom-left">
                &nbsp; ©2019 AVPZ &nbsp; &nbsp;
            </p>

            <p class="bottom-right">
                <a href="/">Home</a> |
                <a href="/">Blog</a> |
            </p>
        </div>
    </div>
</body>

</html>